* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*reusable styles*/

.container {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
}

section {
    margin: 4rem 0 4rem 0;
    padding: 2rem 0;
}

.section-title {
    font-size: 50px;
    margin-bottom: 2rem;
    padding-bottom: 10px;
    color: black;
    position: relative;
}

h1,
h2 {
    color: black !important;
    font-weight: 700 !important;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.text-lg {
    font-size: 1rem;
    line-height: 1.5rem;
    color: gray;
}

.text-sm {
    font-size: 1rem;
    line-height: 1.2rem;
    color: gray;
}

.section-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #000000;
}

p {
    color: #7A7A7A !important;
}

/***************HEADER*****

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    transition: 0.3s;
    font-family: 'Roboto', sans-serif !important;
    background-color: black;
}

nav {
    height: 80px;
    max-height: 80px;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 3.5rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 700;
    color: white !important;
    text-transform: uppercase;
    position: relative;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    bottom: -15px;
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav-link:hover:after {
    width: 50%;
    left: 25%;
    right: 25%;
}


.nav-close,
.nav-toggle {
    display: none;
}

.active-link {
    opacity: 0.5;
}
    */

/***************scroll-header******
.scroll-header {
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 15%);
}

.scroll-header .nav-link {
    color: black;
}

.scroll-header .nav {
    align-items: center;
}

.scroll-header .nav-link:after {
    background-color: black;
}


@media screen and (max-width: 767.98px) {

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: 0.4s;
    }

    .show-menu {
        transform: translateX(0);
    }

    .nav-list {
        flex-direction: column;
        row-gap: 2.3rem;
        text-align: center;
    }

    .nav-toggle,
    .nav-close {
        display: block;
        color: gray;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-close {
        position: absolute;
        top: 1.5rem;
        left: 1rem;
    }

    .scroll-header .nav-link {
        color: white;
    }
}

***********************/
#hero {
    padding: 0 !important;
}

#hero .divider {
    width: 53px;
    height: 2px;
    margin-bottom: 120px;
    background-color: black;
}

#hero h1 {
    font-size: 100px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif !important;
    z-index: 1;
}

#hero .hero-sc-title {
    padding: 0 0 0 120px;
    margin: 0;
}

#hero p {
    font-size: 30px;
    font-weight: 500;
    padding: 35px 0 0 0;
    text-transform: uppercase;
    text-align: center;
    color: rgb(85, 85, 85);

}

#hero .hero-third-block {
    position: relative;
    padding: 0;
}

#hero .sc-divider {
    position: absolute;
    width: 53px;
    height: 2px;
    background-color: black;
    bottom: 15px;
    left: -26.5px;

}

#hero .hero-right-img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
    height: 563px;
}

#hero .box .box-img {
    object-fit: cover;
    object-position: center;
    height: 220px;
    width: 250px;
    max-width: 250px;
}

.box .box-text {
    padding: 20px 10px 0 20px;

}

.box h2 {
    font-size: 30px;
    margin-bottom: 16px;
}

.box p {
    font-size: 14px !important;
    padding: 0 !important;
    text-transform: none;
    text-align: left !important;
    color: #7A7A7A !important;
    font-weight: 400 !important;
    letter-spacing: 1.2px;
    font-family: 'Roboto', sans-serif !important;
}

#about {
    background-image: url("Images/sidekix-media-1129786-unsplash-2.jpeg");
    object-fit: cover;
    object-position: center left;
    min-height: 522px;
}

.about-content {
    background-color: rgb(255, 255, 255);
    margin-top: -300px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 8rem 6rem 2rem 6rem;
}

.about-content p {
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    color: #7A7A7A;
    margin-bottom: 20px;
}

section .btn {
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 14px 19px;
    font-size: 16px;
    letter-spacing: 2px;
    transition: 0.5s ease;
    border: 1px solid white;
    border-radius: 0;
}

section .btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

#services {
    padding-left: 30px;
    padding-right: 30px;
}

.service-box {
    margin-right: 60px;
}

#services img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#services .service-img {
    height: 250px;
}

#services .service-img-first {
    padding-left: 4rem;
}

.service-box h2 {
    font-size: 30px;
    text-align: right;
}

.service-box p {
    font-size: 15px;
    font-weight: bolder;
    width: 60%;
    text-align: right;
    margin-left: auto;
    margin-bottom: 60px;
}

.third-service-box {
    margin-right: 0 !important;
    width: calc(25% - 60px) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.third-service-box .section-title {
    transform: rotate(90deg);
    margin-top: 200px;
    width: 150% !important;
}

.third-service-box h2 {
    text-align: left;
}

.third-service-box p {
    width: 80%;
    text-align: left;
    margin-left: 0;
}

#works .section-title {
    margin-left: 150px;
}

#works .btn {
    margin-right: 100px;
}

#works .filter {
    margin: 40px 0 40px 0;
}

#works .filter-btns {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    padding: 0;
    margin: 0 20px;
    text-transform: uppercase;
}

#works .filter-btns.bold {
    font-weight: 700;
}

#works .item {
    background-size: cover;
    width: 20%;
    max-width: 20%;
    height: 500px;
    position: relative;
    background-position: left;
    transition: 1s ease-in-out;
}

#works .item:nth-child(1) {
    background-image: url('works/alexandra-gorn-485551-unsplash.jpg');
    background-size: cover;
    width: 20%;
    max-width: 20%;
    height: 500px;
}

#works .item:nth-child(2) {
    background-image: url('works/chang-duong-1170426-unsplash.jpg');
}

#works .item:nth-child(3) {
    background-image: url('works/charles-1196865-unsplash.png');
}

#works .item:nth-child(4) {
    background-image: url('works/george-pagan-iii-1391890-unsplash.jpg');
}

#works .item:nth-child(5) {
    background-image: url('works/hutomo-abrianto-673201-unsplash.jpg');
}

#works .item:nth-child(6) {
    background-image: url('works/jose-soriano-1231564-unsplash.jpg');
}

#works .item:nth-child(7) {
    background-image: url('works/jose-soriano-1231568-unsplash1.jpg');
}

#works .item:nth-child(8) {
    background-image: url('works/kirill-703001-unsplash.jpg');
}

#works .item:nth-child(9) {
    background-image: url('works/paul-hanaoka-369639-unsplash.jpg');
}

#works .item:nth-child(10) {
    background-image: url('works/sidekix-media-1287922-unsplash-2-1.jpg');
}

#works .item:hover {
    background-position: right !important;
}

#works .item .plus {
    position: absolute;
    width: 90px;
    height: 90px;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    background-color: black;
    opacity: 0.9;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;
}

#works .item .plus:hover {
    background-color: white;
    color: black;
}

#works .item .work-info {
    position: absolute;
    width: 250px;
    height: 90px;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    bottom: 90px;
    background-color: black;
    color: white;
    display: none !important;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transition: 0.5s ease;
    cursor: pointer;
}

#works .item .work-info:hover {
    background-color: white;
    color: black;
}

#works .item:hover .plus,
#works .item:hover .work-info {
    display: flex !important;
}

#works .item .work-info h3 {
    font-size: 16px;
    padding: 0;
    margin: 0 0 5px 0;
    font-family: 'Roboto', sans-serif;
}

#works .item .work-info .work-name {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

#works .items {
    display: none;
}

#works .all {
    display: block;
}

#contact {
    margin: 4rem 0 0 0 !important;
    padding: 0 !important
}

#contact .first-row {
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 50px 50px;
}

#contact .first-row h2 {
    color: white !important;
    font-weight: 700;
    font-size: 30px;
}

#contact .first-row p {
    color: white !important;
    font-size: 14px;
}

#contact .first-row .form {
    display: flex;
    align-items: center;
    justify-content: end;
}

#contact .first-row .form input {
    padding: 15px 150px 15px 15px;
    background-color: rgb(31, 31, 31);
    color: white !important;
    border: none;
    border-radius: 8px;
}

#contact .first-row .form input::placeholder {
    color: white;
    font-size: 14px;
    opacity: 0.6;
}

#contact .first-row button {
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 0 0 0 -73px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: none;
    z-index: 1;
}

#contact .second-row {
    border-bottom: 1px solid #b1b1b1;
    padding: 80px 25px;
    font-family: 'Roboto', sans-serif !important;
}

#contact .second-row .text img {
    width: 80%;
    max-width: 80%;
}

#contact .second-row h3 {
    margin-bottom: 30px;
    font-weight: 700;
    color: black;
}

#contact .second-row ul {
    list-style: none;
    padding: 0;
}

#contact .second-row ul li {
    margin-bottom: 8px;
    color: #7A7A7A;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
}

#contact .second-row ul li strong {
    color: #383838;
}

#contact .third-row .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact .third-row {
    padding: 30px 15px;
}


#contact .third-row .col .content .copyright p {
    font-weight: 700 !important;
    margin: 0;
}

#contact .third-row .content .social a {
    display: inline-block;
    color: #7A7A7A;
    text-decoration: none;
    margin-right: 20px;
}

.social a:last-child {
    margin-right: 0 !important;
}

.social i {
    font-size: 20px;
    cursor: pointer;
}

.social a,
.social i {
    padding: 0;
    margin: 0;
    border: none;
}

#description {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

#description img {
    width: 100%;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
}


#description .desc h1 {
    font-size: 70px;
    padding: 50px;
}

#description .desc p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 0 80px;
}

#description .details {
    display: flex;
    align-items: center;
    margin-top: 80px;
    gap: 100px;
    padding: 0 35px;
}

#description .details ul li {
    margin-bottom: 25px;
    font-size: 20px;
}

#description .details .first-list li {
    font-weight: 700;
    padding-left: 25px;
}

#description .details .second-list {
    border-left: 1px solid #7A7A7A;
}

#description .carousel {
    width: 500px;
    margin: 0 auto;
    /* Center the slider */
}

#description .carousel img {
    width: 100%;
    /* Ensure images fill the slider */
    height: auto;
}

/* Custom colors for the navigation buttons */
#description .carousel-control-prev-icon,
#description .carousel-control-next-icon {
    background-color: black !important;

    /* Change this to your desired color */
    border-radius: 50%;
    /* Optional: Make the icon background circular */
    width: 35px;
    /* Adjust the width if needed */
    height: 35px;
    z-index: 1;
    background-size: 60%;
    /*
    /* Adjust the height if needed */
}


#similar .item {
    background-size: cover;
    width: 20%;
    max-width: 20%;
    height: 300px;
    position: relative;
    background-position: left;
    transition: 1s ease-in-out;
}

#similar .item:nth-child(1) {
    background-image: url('works/alexandra-gorn-485551-unsplash.jpg');
    background-size: cover;
    width: 20%;
    max-width: 20%;
    height: 300px;
}

#similar .item:nth-child(2) {
    background-image: url('works/chang-duong-1170426-unsplash.jpg');
}

#similar .item:nth-child(3) {
    background-image: url('works/charles-1196865-unsplash.png');
}

#similar .item:nth-child(4) {
    background-image: url('works/george-pagan-iii-1391890-unsplash.jpg');
}

#similar .item:hover {
    background-position: right !important;
}


#similar .item .work-info {
    position: absolute;
    width: 200px;
    height: 70px;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    bottom: 70px;
    background-color: black;
    color: white;
    display: none !important;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transition: 0.5s ease;
    cursor: pointer;
}

#similar .item .work-info:hover {
    background-color: white;
    color: black;
}

#similar .item:hover .work-info {
    display: flex !important;
}

#similar .item .work-info h3 {
    font-size: 14px;
    padding: 0;
    margin: 0 0 5px 0;
    font-family: 'Roboto', sans-serif;
}

#similar .item .work-info .work-name {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

#similar {
    padding-left: 50px;
}